@import "@/assets/styles/variables.scss";

.Container {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;

  @media (max-width: $media-tablet-landscape) {
    padding: 0 17px;
  }

  //@media (min-width: $media-tablet) {
  //  padding: 0 60px;
  //}
}