@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.LaptopBlock {
  margin-bottom: 150px;
  @media (max-width: $media-tablet-landscape) {
    margin-bottom: 90px;
  }
}
.title {
  align-items: center;
  font-size: 60px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  @media (max-width: $media-tablet-landscape) {
   font-size: 28px;
   line-height: 30px;
   text-align: left;
    justify-content: flex-start;
  }
}

.LaptopBlock__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $media-tablet-landscape) {
    flex-direction: column-reverse;
    //align-items: flex-start;
  }
  .info__left {
    @media (max-width: $media-tablet-landscape) {
      width: 100%;
    }
  }
  .info__right {
    @media (max-width: $media-tablet-landscape) {
      display: none;
    }
  }
  .item {
    position: relative;
    margin-bottom: 50px;
    max-width: 400px;
    @media (max-width: $media-tablet-landscape) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 14px;
      justify-content: space-between;
      margin-bottom: 16px;
    }
    .item__title {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 16px;
      @media (max-width: $media-tablet-landscape) {
        font-size: 12px;
        line-height: 15px;
        text-align: left;
      }
    }
    .item__subtitle {
      color: #818AA7;
      line-height: 25px;
      @media (max-width: $media-tablet-landscape) {
        font-size: 12px;
        line-height: 15px;
        text-align: left;
      }
    }
  }
  .item:not(:last-child):after {
    display: none;
    content: " ";
    position: absolute;
    left: 0px;
    top: 50px;
    width: 292px;
    z-index: 10;
    height: 1px;
    background: linear-gradient(270deg, rgba(92, 108, 140, 0.00) 0%, #5C6C8C 51.56%, rgba(92, 108, 140, 0.00) 100%);
    @media (max-width: $media-tablet-landscape) {
      display: block;
    }
  }
  .item:last-child {
    margin-bottom: 0px;
  }
  .info__center {
    background-image: url("../../assets/img/SecondLaptop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 614px;
    height: 615px;
    @media (max-width: $media-tablet-landscape) {
      width: 297px;
      height: 314px;
    }
    //transform: rotate(-14.285deg);
  }
  .info__center:after {
    content: " ";
    animation:spin 60s linear infinite;
    background-image: url("../../assets/img/animateLaptopLv3.svg");
    position: absolute;
    left: 100px;
    top: -90px;
    background-position: center;
    background-size: cover;
    width: 891px;
    height: 891px;
    z-index: -1;
  }
}
.LaptopBlock__info:after {
  content: " ";
  animation:spin 60s linear infinite;
  background-image: url("../../assets/img/animateLaptopLv1.svg");
  position: absolute;
  left: 220px;
  top: 10px;
  background-position: center;
  background-size: cover;
  width: 626px;
  height: 626px;
  z-index: -1;
}
.LaptopBlock__info:before {
  content: " ";
  animation:spin 60s linear infinite;
  background-image: url("../../assets/img/animateLaptopLv1.svg");
  position: absolute;
  left: 360px;
  top: 160px;
  z-index: -1;
  background-position: center;
  background-size: cover;
  width: 346px;
  height: 350px;
}
@keyframes spin{
  from{transform:rotate(0deg)}
  to{transform:rotate(360deg)}
}