@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.FeatureBlock {
  margin-bottom: 150px;
}

.title {
  margin-bottom: 60px;
  font-size: 60px;
  line-height: 60px;
  @media (max-width: $media-tablet-landscape) {
    text-align: left;
    font-size: 28px;
    line-height: 30px;
  }
}

.Features {
  display: flex;
  justify-content: center;
}

.Features__item {
  padding: 24px;
  background-image: url("../../assets/img/1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 32px;
  width: 380px;
  @media (max-width: $media-tablet-landscape) {
    width: 280px;
  }
  .icon {
    width: 36px;
    height: 36px;
    margin-bottom: 36px;
    //background-image: url("../../assets/img/FeatureGuard.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
  }
  .text {
    color: #818AA7;
    font-size: 18px;
    line-height: 25px;
    @media (max-width: $media-tablet-landscape) {
     font-size: 16px;
      line-height: 22px;
    }

  }
}
.Features__item:not(:last-child) {
  margin-right: 20px;
}