@import "@/assets/styles/variables.scss";
@import "@/assets/styles/index.scss";

.ChartBlock {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../assets/img/chartBg.svg");
  background-size: cover;
  background-position: center;
  padding: 60px;
  background-repeat: no-repeat;
  border-radius: 32px;
  @media (max-width: $media-tablet-landscape) {
    flex-direction: column;
    padding: 24px;
    margin-bottom: 90px;
  }
  .chart__info {
    max-width: 485px;
    .texts {
      margin-bottom: 64px;
      @media (max-width: $media-tablet-landscape) {
        margin-bottom: 16px;
      }
      .info_title {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 24px;
        @media (max-width: $media-tablet-landscape) {
          text-align: left;
          font-size: 28px;
          line-height: 30px;
          margin-bottom: 16px;
        }
      }
      .info_subtitle {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 16px;
        @media (max-width: $media-tablet-landscape) {
          text-align: left;
          color: #818AA7;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 24px;
        }
      }
      .info_text {
        font-size: 18px;
        line-height: 25px;
        color: #818AA7;
        @media (max-width: $media-tablet-landscape) {
          text-align: left;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
    .info_go {
      display: block;
      @media (max-width: $media-tablet-landscape) {
      display: none;
      }
      .info_button {
        width: 180px;
        display: flex;
        height: 40px;
        padding: 8px 20px;
        justify-content: center;
        align-items: center;
        gap:  4px;
        border-radius: 4px;
        background: #0072F8;
        cursor: pointer;
        margin-bottom: 16px;
      }
      .info_buttonText {
        font-size: 14px;
        line-height: 21px;
        color: #818AA7;
        @media (max-width: $media-tablet-landscape) {
         font-size: 12px;
          line-height: 18px;
        }
      }
    }
  }
  .Chart__img {
    background-image: url("../../assets/img/Chart.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 434px;
    height: 410px;
    @media (max-width: $media-tablet-landscape) {
      background-image: url("../../assets/img/chartMob.svg");
      width: 293px;
      height: 210px;
    }
  }
  .info_goMob {
    display: none;
    @media (max-width: $media-tablet-landscape) {
      display: block;
      margin-top: 24px;
    }
    .info_button {
      max-width: 290px;
      display: flex;
      height: 40px;
      padding: 8px 20px;
      justify-content: center;
      align-items: center;
      gap:  4px;
      border-radius: 4px;
      background: #0072F8;
      cursor: pointer;
      margin-bottom: 16px;
    }
    .info_buttonText {
      font-size: 12px;
      line-height: 18px;
      color: #818AA7;
    }
  }
}