.Calculator {
  margin-bottom: 150px;
  .title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
  .calculate {
    display: flex;
    margin-bottom: 60px;

    .calculate__item {
      margin-right: 58px;
      .item__title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 24px;
      }
      .item__inputNum {
        padding: 8px;
        margin-bottom: 8px;
        background: #12151F;
        border-radius: 4px;
        color: #818AA7;
        font-size: 16px;
        line-height: 22px;
        border: none;
        width: 340px;
      }
      .item__input {
        width: 340px;
        height: 2px;

      }
    }
    .calculate__item:last-child {
      margin-right: 0px;
    }
  }
  .result {
    .result__title {
      color: #818AA7;
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 8px;
    }
    .result__num {
      font-size: 60px;
      color: #0072F8;
      line-height: 60px;
      margin-bottom: 16px;
    }
    .result__subtitle {
      color: #818AA7;
      font-size: 14px;
      line-height: 21px;
    }

  }
}

input,
output {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

output {
  background: #ff4500;
  padding: 5px 16px;
  border-radius: 3px;
  color: #fff;
}

input[type="number"] {
  width: 40px;
  padding: 4px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

/* input[type="range"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 3px 1px #4b81dd;
  outline: none;
} */

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 340px;
  height: 2px;
  background: #818AA7;
  border-radius: 5px;
  background-image: linear-gradient(#0072F8, #0072F8);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

[dir="rtl"] input[type="range"] {
  background: #ff4500;
  background-image: linear-gradient(#fff, #fff);
  background-size: 30% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #0072F8;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-ms-thumb:hover {
  background: #ff0200;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}